@model IEnumerable<Facebook.Models.Post>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    

@foreach (var item in Model) {
    <tr>

        <td>
            <div class="row">
                <div class="" style="font-size:20px">
                    
                    @if (item.ApplicationUser.userImage != null)
                    {
                        var base64 = Convert.ToBase64String(item.ApplicationUser.userImage);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                           <img src="@imgSrc" style="width:25px;height:25px" alt="@item.ApplicationUser.UserName" />
                    }
                    else
                    {
                        <img src="~/Content/Image User/UserImg.png"  style="width:25px;height:25px" alt="@item.ApplicationUser.UserName"/>
                    }
                   
                    @item.ApplicationUser.UserName
                </div>
                <section class="">
                    <h5 class="col-lg-8">@item.postContent</h5>
                    @if (item.postImg != null)
                    {
                        var base64 = Convert.ToBase64String(item.postImg);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        <img src="@imgSrc" style="width:455px;height:450px" alt="@item.postDelete" />
                    }
                </section>
                <section>
                   
                @Ajax.ActionLink("Like", "Create", "Likes",ajaxOptions: new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "disPlayAllPost", InsertionMode = InsertionMode.Replace }, routeValues: new { postId = item.postId });    
                @Ajax.ActionLink(item.Like.Count().ToString(), "displayAll", "Likes", ajaxOptions: new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "LikesModalBody", InsertionMode = InsertionMode.Replace,OnSuccess="LikesModelShow()"  }, routeValues: new { postId = item.postId });
                @Ajax.ActionLink("Comment", "ListComment", "Comments", ajaxOptions: new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "listComment", InsertionMode = InsertionMode.Replace ,OnSuccess="showAndAddComment()"}, routeValues: new { postId = item.postId });
                
                </section>
            </div>
        </td>
        
       
    </tr>
}

</table>
