
@*@{
    ViewBag.Title = "Index";
}*@
<div class="col-lg-12 col-sm-12 col-md-12">
    <div  id="frinds" class="col-sm-12 col-md-12 col-lg-3" style="margin-top:50px">
        @Html.Action("FriendsRequests", "User")
    </div>


    <div id="posts_Div" class="col-sm-12 col-md-12 col-lg-6">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cratepost">
           Create Post
        </button>


        <div id="disPlayAllPost">
            @Html.Action("displayAll", "Posts")

        </div>

        @* model Liks of post *@

        <!-- Modal -->
        <div class="modal fade" id="LikesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Likes</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="LikesModalBody">
                        @Html.Action("displayAll", "Likes")
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>

        <!------------------------------------------------------Comment Model  ------------------------------------------------ -->
        <div class="modal fade" id="CommentModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Comment</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            @Html.Action("AddComment", "Comments")
                        </div>
                        <div id="listComment">
                            @Html.Action("ListComment", "Comments")
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* -------------------------------------Create post ??------------------------------- *@
<div class="modal fade" id="cratepost" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Post </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div>
                @Html.Action("Create", "Posts")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>


@* ------------------- Jquer Code -------------------------------*@

@section scripts {
    <script type="text/javascript">
        function LikesModelShow(){
            $("#LikesModal").modal('show');
            console.log("ok")
        }

        function showAndAddComment() {
            $("#CommentModel").modal('show');
            console.log("oke")
        }
        $('#postCreatebutton').click(function () {
            $("#cratepost").modal('toggle');
            console.log("oke")
        })
    </script>
}

